@{
    ViewBag.Title = "About";
}

<section class="banner-area relative" id="home" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .7)), url(../../Content/img/header-bg.jpg);background-position: center;background-repeat: no-repeat;">
    <div class="container">
        <div class="row search-page-top d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12">
                <h1 class="text-white">
                    WHO WE ARE
              </h1>
                <p class="text-white link-nav">
                    JOBS is a global online employment solution for people seeking jobs and the employers who need great people. We've been doing this for more than 20 years, and have expanded from our roots as a "job board" to a global provider of a full array of job seeking, career management, recruitment and talent management products and services.

                    At the heart of our success and our future is innovation: We are changing the way people think about work, and we're helping them actively improve their lives and their workforce performance with new technology, tools and practices

                </p>
            </div>
        </div>
    </div>
    </section>
